<div class="container"> 
    <div class="login">
    {{#> AuthForm}}
        {{> Input label="Логин" name="login" type="text"}}
        {{> Input label="Пароль" name="password" type="password" error="Неверный пароль" isError=true}}
        
    {{/ AuthForm}}
    </div>
</div>

{{> TempMenu}}
