<div class="container"> 
	
	{{#> PartialBlock class='auth-form' tag='form'}}
		{{{Heading label='Вход' type='h1'}}}
		{{{Input label="Логин" name="login" type="text" ref="login"}}}
		{{{Input label="Пароль" name="password" type="password" error="Неверный пароль" isError=true}}}
	{{/PartialBlock}}	
    {{!-- <div class="login">
    {{#> AuthForm}}
        {{> Input label="Логин" name="login" type="text"}}
        {{> Input label="Пароль" name="password" type="password" error="Неверный пароль" isError=true}}
        
    {{/ AuthForm}}
    </div> --}}
</div>

{{!-- {{> TempMenu}} --}}

