.container {
	display: flex;
	height: 100%;
	width: 1280px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
}

.login {
	background-color: var(--modal-bg-color);
	width: 340px;
	height: 450px;
	padding: 50px 30px 30px;
}

.login__buttons-container {
	display: flex;
	flex-direction: column;
	margin-top: 132px;
}

.login__heading {
	margin-bottom: 40px;
	text-align: center;
}
