.input__container {
	display: flex;
	flex-flow: column;
	margin: 12px 0;
	height: 38px;
	font-size: 13px;
	line-height: 13px;
	align-content: flex-end;
}

.input__element {
	color: var(--primary-text-color);
	background-color: inherit;
	border: none;
	border-bottom: 1px solid var(--akcent-color);

	&:focus-visible {
		outline: none;
	}

	padding-bottom: 7px;
}

.input__element:not(:placeholder-shown) + .input__label,
.input__element:focus + .input__label {
	transform: translateY(-44px);
	font-size: 9px;
	line-height: 9px;
}

.input__element.input__error {
	color: var(--error-color);
}

.input__element_inline {
	padding: 0;
	border: none;
	text-align: right;
}
