.button {
	background-color: initial;
	border: none;
	cursor: pointer;
	padding: 12px 0;
}

.button_primary {
	color: var(--primary-text-color);
	background-color: var(--akcent-color);
	width: 280px;
}

.button_secondary {
	color: var(--akcent-color);
	font-size: 11px;
}

.button_error {
	color: var(--error-color);
}

.button_with-icon {
	color: var(--secondary-text-color);
}

.button_icon {
	padding: 0;
}

.button_avatar {
	padding: 0;

	& .button__images {
		width: 130px;
		height: 130px;
		border-radius: 65px;
	}
}
