<div class="container">
    <div class="profile__back">
        {{> Button src=arrow withIcon=true type="icon"}}
    </div>
    <div class="profile__container">
        <header class="profile__header">
            {{> Avatar src=defaultAvatar alt="нет аватарки" size="big"}}
            {{> Heading label="Иван" type="h1"}}
        </header>
        <main class="profile__info-block">
            {{> InfoItems readonly=false}}
        </main>
        <footer class="profile__footer-block">
            {{> Button type="secondary" label='Изменить данные'}}
            {{> Button type="secondary" label='Изменить пароль'}}
            {{> Button type="error" label='выйти'}}
        </footer>
    </div>
</div>