<div class="registration-form">
    <div class="registration-form__heading">
        {{> Heading label="Регистрация" type="h1"}}
    </div>
    <form class="registration-form__container">
        {{> @partial-block}}
        <div class="registration-form__buttons-container">
            {{> Button label="Зарегистрироваться" type="primary"}}
            {{> Button label="Войти" type="secondary"}}
        </div>
    </form>
</div>
