{{!-- <div class='auth-form'>
	<div class='auth-form__heading'>
		{{{Heading label='Вход' type='h1'}}}
	</div>

	<form class="auth-form__container">
        {{> PartialBlock}}
        <div class="auth-form__buttons-container">
            {{> Button label="Авторизоваться" type="primary"}}
            {{> Button label="Нет аккаунта?" type="secondary"}}
        </div>
    </form>
</div> --}}
{{#> PartialBlock class='auth-form'}}
	{{{Heading label='Вход' type='h1'}}}
{{/PartialBlock}}