.auth-form {
    background-color: var(--modal-bg-color);
    width: 340px;
    height: 450px;
    padding: 50px 30px 30px 30px;
}

.auth-form__buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 132px;
}

.auth-form__heading {
    margin-bottom: 40px;
    text-align: center;
}
