.input {
	padding: 0;
}

.input__label {
	color: var(--secondary-text-color);
	transform: translateY(-23px);
}

.input__container_inline {
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: 510px;
	border-bottom: 1px solid var(--secondary-text-color);
}
