.input {
	padding: 0;
}

.input__container {
	display: flex;
	flex-flow: column;
	margin: 12px 0;
	height: 38px;
	font-size: 13px;
	line-height: 13px;
	align-content: flex-end;
}

.input__label {
	color: var(--secondary-text-color);
	transform: translateY(-23px);
}

.input__element {
	color: var(--primary-text-color);
	background-color: inherit;
	border: none;
	border-bottom: 1px solid var(--akcent-color);

	&:focus-visible {
		outline: none;
	}

	padding-bottom: 7px;
}

.input__element:not(:placeholder-shown) + .input__label,
.input__element:focus + .input__label {
	transform: translateY(-44px);
	font-size: 9px;
	line-height: 9px;
}

.input__element.input__error {
	color: var(--error-color);
}

.input__element_inline {
	padding: 0;
	border: none;
	text-align: right;
}

.input__container_inline {
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: 510px;
	border-bottom: 1px solid var(--secondary-text-color);
}

.input__element_block {
	display: block;
	border-radius: 2px;
	border: none;
	background-color: var(--input-bg-color);
}

.input__element_message {
	@extend .input__element_block;

	width: 100%;
	border-radius: 20px;
	padding-left: 18px;

	color: var(--secondary-text-color);

	&:focus {
		outline: none;
		color: var(--primary-text-color);
	}
}

.input__element_search {
	@extend .input__elements_block;

	color: var(--secondary-text-color);
	padding: 7px 0;
	padding-left: 80px;
	width: 180px;
	background: svg-load('../../assets/search.svg');
	background-repeat: no-repeat;
	background-position: 58px 50%;
	background-color: var(--modal-bg-color);
	border: none;

	&:focus {
		outline: 1px solid var(--secondary-text-color);
		color: var(--primary-text-color);
		padding-left: 32px;
		background-position: 10px 50%;
	}

	&:not(:placeholder-shown) {
		padding-left: 32px;
		background-position: 10px 50%;
	}
}
