.list-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 20px;
    justify-content: flex-end;
    overflow: hidden;

    .message__outgoing {
        align-self: flex-end;
    }
}
