<nav class='temp-nav'>
    <ul>
        <li><a href='' page='login'>Вход</a></li>
        <li><a href='' page='signin'>Регистрация</a></li>
        <li><a href='' page='chatPage'>Чат</a></li>
        <li><a href='' page='profile'>Профиль</a></li>
        <li><a href='' page='errorPage'>500</a></li>
        <li><a href='' page='notFoundPage'>404</a></li>

    </ul>

</nav>