.chat-dropdown {
	/* display: none; */
	position: absolute;
	right: 20px;
	top: 45px;
	padding: 28px 18px;
	background-color: var(--input-bg-color);
}

.chat-dropdown__list {
	list-style-type: none;
	flex-direction: column;
	display: flex;
	gap: 16px;
}
